@model Profile
  
@{
    ViewData["Title"] = "Profile";
}
<h1>Profile</h1>
<form method="post" asp-controller="Profile" asp-action="Check">
    <label asp-for="Name"></label>
    <input asp-for="Name"/>
    <span asp-validation-for="Name"></span>
    
    <label asp-for="Surname"></label>
    <input asp-for="Surname" />
    <span asp-validation-for="Surname"></span>
   
    <label asp-for="PhoneNumber"></label>
    <input asp-for="PhoneNumber" />
    <span asp-validation-for="PhoneNumber"></span>

    <input type="submit" value="LogIn" />
</form>